<ion-view view-title="Office Ergonomics">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Welcome!</div>
      <div class="item item-body">
        <div>
          This is a self-assessment app and I will provide a much better introduction to Ergonomics after I finish all the required functionality for the project!
        </div>
      </div>
    </div>
  
  <div class="list">
    <a class="item item-thumbnail-left">
      <img src="img/ergo.jpg">
      <h2>Office Ergonomics</h2>
      <p>Self-Assessment App</p>
    </a>
  </div>
    
  </ion-content>
</ion-view>