<ion-view view-title="Self-Assessment">
  <ion-content>
  
  <!-- Status Measurement -->  
  <div class="list card">
    <div class="item item-divider">Static Measurements</div>
    <div class="item item-body">
      <div>
        Measure the following segments while seated on top of a solid surface, i.e. a table
      </div>
    </div>
  </div> 

  <!-- Insert Assessment Form -->
  <div class="row">
    <div class="col-40 item item-image">
    <img src="img/seated.jpg">
    </div>
      <div class="col">
        <label class="item item-input">
        <input type="number" placeholder="Eye Height">
        </label>
        <br><br><br>
        <label class="item item-input">
        <input type="number" placeholder="Elbow Height">
        </label>
        <br><br><br>
        <label class="item item-input">
        <input type="number" placeholder="Knee Height">
        </label><br>
      </div>
  </div>

  <!-- Assessment Instructions -->
  <div class="item item-instructions">
    <div>
      <b>Knee Height:</b> measure floor to just below kneecap<br>
      <b>Elbow Height:</b> measure table to bottom of bent elbow<br>
      <b>Eye Height:</b> measure table to eye
    </div>
  </div>
  </ion-content>
</ion-view>