<ion-view view-title="Your Recommendations">
  <ion-content>
  <div class="list card">
    <div class="item item-divider">Your Custom Setup</div>
      <div class="item item-body">
        These are general recommendations based on your inputs and should not replace an assessment by a professional Ergonomist.<br><br>
        Visit <a href="http://officeergonomics.co">OfficeErgonomics.co</a> for more information.
      </div>
  </div>
  <!-- Customized Recomendations -->
    <div class="row">
    <div class="col-40 item item-image">
    <img src="img/seated.jpg">
    </div>
      <div class="col">
        <label class="item item-input">
        <input type="text" placeholder="Monitor">
        </label>
        <br><br><br>
        
        <label class="item item-input">
        <input type="text" placeholder="Input Devices">
        </label>
        <br><br><br>

        <label class="item item-input">
        <input type="text" placeholder="Chair">
        </label>
      </div>
  </div>
  </ion-content>
</ion-view>